<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Welcome!</title>

    <link rel="stylesheet" href="/vendors/bootstrap.css">
    <link rel="stylesheet" href="/assets/styles/style.css">

    <script src="/vendors/angular.min.js" charset="utf-8"></script>
    <script src="/assets/scripts/script.js" charset="utf-8"></script>
    <script src="/vendors/angular-route.min.js" charset="utf-8"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/vendors/bootstrap.js" charset="utf-8"></script>


  </head>
  <body ng-controller="controller">
    <h1>flytrends</h1>
    <h3>Welcome back, {{userName}}</h3>
    <div ng-include="'/partials/nav.html'"></div>
    <main ng-view></main>




  </body>
</html>
