<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Welcome!</title>


    <link rel="stylesheet" href="/assets/styles/user.css">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="/vendors/bootstrap.css">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.css">

    <script src="/vendors/angular.min.js" charset="utf-8"></script>
    <script src="/assets/scripts/script.js" charset="utf-8"></script>
    <script src="/vendors/angular-route.min.js" charset="utf-8"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/vendors/bootstrap.js" charset="utf-8"></script>

    <script src="/vendors/Chart.js"></script>
    <script src="/vendors/angular-chart.js"></script>

  </head>

  <body ng-controller="controller">
      <div class="nav">
        <div class="logo">
          <h1>flytrends</h1>
        </div>
        <div class="navlist" ng-include="'/partials/nav.html'"></div>
      </div>

<div id="clouds">
	<div class="cloud x1"></div>
	<!-- Time for multiple clouds to dance around -->
	<div class="cloud x2"></div>
	<div class="cloud x3"></div>
	<div class="cloud x4"></div>
	<div class="cloud x5"></div>
</div>

 <div class="container">


   <h3>Welcome back, {{userName}}</h3>
      <fieldset class="clearfix">
        <main ng-view></main>
      </fieldset>


</div>


  </body>
</html>
