<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Welcome!</title>

    <link rel="stylesheet" href="/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/style.css">

    <script src="/vendors/angular.min.js" charset="utf-8"></script>
    <script src="/assets/scripts/script.js" charset="utf-8"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js" charset="utf-8"></script>
  </head>
  <body ng-controller="controller">
    <h1>flytrends</h1>
    <h3>Welcome back, {{userName}}</h3>
    <div ng-include="'/partials/nav.html'"></div>
    <main ng-view></main>



  </body>
</html>
