<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span style="color:white" aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Confirm Selection</h4>
      </div>
      <div class="modal-body">
        <p>ARE YOU SURE YOU WANT TO TRACK FLIGHTS</p>
        <p>FROM {{ homeLoc }} </p>
        <p>TO {{ destLoc }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveTracking()">YES</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">NO</button>
      </div>
    </div>
  </div>
</div>
<!-- userinput and buttons -->
<div id="userinput">

  <p>Select home base</p>
  <p><span><input type="text" id="homeIn" ng-model="homeIn" name="name" value="" placeholder="Enter city or airport code"></span></p>
  <p>Select destination to track</p>
  <p><span><input type="text" id="destIn" ng-model="destIn" name="name" value="" placeholder="Enter city or airport code"></span></p>



  <button type="button" name="button" ng-click="sendApiRequest()">API REQ</button>

  <div id="modaldiv">
    <!-- Button trigger modal -->
    <button id="trackButton" data-toggle="modal" data-target="#myModal" ng-click="checkInput()">
      CONFIRM SELECTION
    </button>

  </div>
</div>
<div class="tracker">
<p>
</div>
