<p>
  Select date to track:
</p>
<p>
  <input type="date" name="name" value="" ng-model="dateSelected"> Currently tracking: <b>{{ showDateSelected }}</b>
</p>
<p>
  <button type="button" id="saveDate" name="button" ng-click="saveDate()" >Save</button>
</p>
<p>
  Notify when price goes below:
</p>
<p>
  <input type="number" id="notifyPrice" name="name" ng-model="priceSelected" value=""> Will notify when price goes below: <b> {{ notificationPrice }} </b>
</p>
<p>
  <button type="button" id="saveNotePrice" name="button" ng-click="saveNotePrice()">Save</button>
  <button type="button" id="forceEmail" name="button" ng-click="sendMail()">force email</button>
</p>
